header .container,
main {
    width: 1110px;
    margin: 10px auto;
}

header {
    border-bottom: 1px solid #EDEEF2;
}
.header-content,
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav>i {
    display: none;
    background: #EDEEF2;
    border-radius: 16px;
    height: 44px;
    width: 44px;
}
.search-bar {
    position: relative;
}
header input {
    background: #EDEEF2;
    width: 225px;
    border-radius: 12px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}
::placeholder,
.fa-magnifying-glass {
    color: #83859C;
}
header input:focus {
    border: 1px solid #83859C;
    background-color: transparent;
}
header button {
    background: transparent;
    border: transparent;
    position: absolute;
    top: 5px;
    left: 85%;
}

.header-nav {
    width: 33%;
}
.nav-list {
    width: 100%;
}
.nav-list_link {
    font-weight: 700;
    transition: color 0.3s linear;
}
.nav-list_link:hover {
    color: #4E60FF;
}
.nav-list_item:nth-child(2) {
    border-right: 2px solid #EDEEF2;
    padding-right: 25px;
}
.cart {
    width: 50px;
    height: 50px;
    background: #F3F4FF;
    border-radius: 16px;
    display: flex;
    position: relative;
}
.cart a {
    margin: auto;
}
.cart a::after {
    content: "4";
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    background-color: #4E60FF;
    border-radius: 8px;
    text-align: center;
}
.nav-list img {
    border: 2px solid #EDEEF2;
    border-radius: 16px;
    width: 48px;
    transition: all 0.3s linear;
}
.nav-list img:hover {
    border: 2px solid #697BFF;
}
.nav-list img:active,
.nav-list img:focus {
    border: 2px solid #4E60FF;
}


main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    padding: 10px 20px;
}
form h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
}
.edit-avatar {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.avatar-input {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.edit-avatar button {
    margin-right: 10px;
}
.edit-avatar input {
    border-radius: 12px;
}
.edit-info input {
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
}
input:focus {
    border: 1px solid #4E60FF;
}
form button {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3px;
    border-radius: 8px;
    height: 44px;
    transition: all 0.3s linear;
    padding: 12px 16px;
}
button[value*="change"],
button[value*="remove"] {
    width: 80px;
}

button[value*="change"]{
    color: #4E60FF;
    background-color: transparent;
    border: 1px solid #4E60FF;
}
button[value*="change"]:hover,
button[value*="remove"]:hover  {
    background-color: #4E60FF;
    color: #fff;
}

button[value*="remove"] {
    color: #83859C;
    background-color: transparent;
    border: 1px solid transparent;
}
.edit-avatar label,
.edit-info label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}
.edit-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-item {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.info-item input {
    border: 1px solid #C7C8D2;
    border-radius: 8px;
    padding: 7px 15px;
    margin: 5px 0;
}

.email-notif {
    margin: 30px 0;
}
.edit-notif {
    display: flex;
    flex-wrap: wrap;
    width: 80%
}
.check-container {
    width: 50%;
    margin: 7px 0;
}

.btns {
    padding: 15px 0;
    border-top: 1px solid #C7C8D2;
    display: flex;
    justify-content: space-between;
}
button[value*="log"] {
    background: transparent;
    color: #ff5c60;
    border: 1px solid #FF5C60;
}
button[value*="log"]:hover {
    color: #fff;
    background-color: #ff5c60;
}
.change-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button[type="reset"] {
    background-color: transparent;
    border: 1px solid #83859C;
    color: #83859C;
    margin: auto 5px;
}
form button[type="submit"] {
    background-color: #4E60FF;
    border: 1px solid transparent;
    color: #fff;
    margin: auto 5px;
}
button[type="reset"]:hover {
    background-color: #83859C;
    color: #fff;
}
form button[type="submit"]:hover {
    background-color: transparent;
    border: 1px solid #4E60FF;
    color: #4E60FF;
}


.settings-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 30px;
}
.setting-box {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 300px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #EDEEF2;
    border-radius: 16px;
    transition: all 0.3s linear;
}
.setting-box i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background: #EDEEF2;
    border-radius: 12px;
    color: #83859C;    
    transition: all 0.3s linear;

}
.setting-box h3 {
    font-weight: 700;
}
.setting-box p {
    font-size: 13px;
}
.settings-text {
    margin: auto 5px;
}
.setting-box:hover {
    background: #F3F4FF;
    border: 2px solid #4E60FF;
}
.setting-box:hover > i {
    background-color: #4E60FF;
    color: #fff;
}

@media (max-width: 360px) {
    header .container,
    .info-item,
    .check-container {
        width: 100%;
        margin: 10px;
    }
    main {
        width: 90%;
    }
    .header-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .nav-list {
        justify-content: unset;
    }
    .header-nav>i {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
    }
    .search-bar {
        display: none;
    }
    .nav-list_item:nth-child(1),
    .nav-list_item:nth-child(2),
    .nav-list_item:nth-child(3) {
        display: none;
    }
    main {
        flex-direction: column-reverse;
    }
    .btns {
        flex-direction: column;
    }
    .change-btns {
        margin-top: 10px;
    }
    .change-btns button {
        width: 143px;
        height: unset;
    }

}