.container {
    width: 1110px;
    margin: 10px auto;
}

header {
    border-bottom: 1px solid #EDEEF2;
}
.header-content,
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-bar {
    position: relative;
}
input {
    background: #EDEEF2;
    width: 225px;
    border-radius: 12px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid transparent;
    transition: all 0.3s linear;
}
::placeholder,
.fa-magnifying-glass {
    color: #83859C;
}
input:focus {
    border: 1px solid #83859C;
    background-color: transparent;
}
header button {
    background: transparent;
    border: transparent;
    position: absolute;
    top: 5px;
    left: 85%;
}

.header-nav {
    width: 33%;
}
.header-nav>i {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EDEEF2;
    border-radius: 16px;
    height: 44px;
    width: 44px;
}
.nav-list {
    width: 100%;
}
.nav-list_link {
    font-weight: 700;
    transition: color 0.3s linear;
}
.nav-list_link:hover {
    color: #4E60FF;
}
.nav-list_item:nth-child(2) {
    border-right: 2px solid #EDEEF2;
    padding-right: 25px;
}
.cart {
    width: 50px;
    height: 50px;
    background: #F3F4FF;
    border-radius: 16px;
    display: flex;
    position: relative;
}
.cart a {
    margin: auto;
}
.cart a::after {
    content: "4";
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    background-color: #4E60FF;
    border-radius: 8px;
    text-align: center;
}
.nav-list img {
    border: 2px solid #EDEEF2;
    border-radius: 16px;
    width: 48px;
    transition: all 0.3s linear;
}
.nav-list img:hover {
    border: 2px solid #697BFF;
}
.nav-list img:active,
.nav-list img:focus {
    border: 2px solid #4E60FF;
}




.promo-content {
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}
.promo-box {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 5px 25px 0;
}
.promo-box:nth-child(1) {
    background-color: #F3F4FF;
}
.promo-box:nth-child(2) {
    background-color: #FFF3ED;
}
.promo-box h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.promo-box h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 56px;
    text-transform: uppercase;
}
.promo-box:nth-child(1) h2 {
    color: #4E60FF;
}
.promo-box:nth-child(2) h2 {
    color: #FD6D22;
}
.promo-box p {
    margin-top: 30px;
    color: #83859C;
}



.categories-list,
.categories-list_link {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories-list_item {
    width: 160px;
    height: 80px;
    padding: 10px 20px;
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    transition: all 0.3s linear;
}
.categories-list_item:hover {
    background: #F8F9FF;
    border: 1px solid #697BFF;
}
.categories-list_item:active,
.categories-list_item:focus {
    border: 2px solid #4E60FF;
}
.categories-list_link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.categories-list img {
    width: 24px;
    height: 24px;
    margin: 5px auto;
}


.restaurants-content {
    margin: 30px auto;
}
.restaurants-content h2 {
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}
.restaurant-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.restaurant-box {
    border: 1px solid #EDEEF2;
    box-sizing: border-box;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    margin: 5px auto;
}
.restaurant-box:nth-child(1)::before,
.restaurant-box:nth-child(2)::before {
    content: "featured";
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.6px;
    background-color: #4E60FF;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    border-bottom-left-radius: 16px;
}

.restaurant-box:nth-child(4),
.restaurant-box:nth-child(5),
.restaurant-box:nth-child(6){
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border: transparent;
}
.box-text {
    padding: 15px 20px;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-text h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.box-header svg {
    cursor: pointer;
    color: #C7C8D2;
}
.box-text span {
    color: #83859C;
}
.box-text p {
    display: flex;

}
.fa-clock {
    color: #C7C8D2;
}
.box-text p span:nth-child(2) {
    width: 3px;
    height: 3px;
    background-color: #4E60FF;
    border-radius: 50%;
    display: flex;
    margin: auto 10px;
}
.box-badge {
    display: flex;
}
.box-text a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    background: #EDEEF2;
    border-radius: 100px;
    margin: auto 5px;
}
.box-badge img {
    margin-right: 5px;
}

@media (max-width: 360px) {
    header .container {
        width: 100%;
        margin: 10px;
    }
    main {
        width: 90%;
    }
    .header-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .nav-list {
        justify-content: unset;
    }
    .header-nav>i {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
    }
    .search-bar {
        display: none;
    }
    .nav-list_item:nth-child(1),
    .nav-list_item:nth-child(2),
    .nav-list_item:nth-child(3) {
        display: none;
    }

    .promo-content {
        width: 100%;
        flex-direction: column;
    }
    .promo-box {
        width: 330px;
        margin: 10px 0;
        flex-wrap: wrap-reverse;
        position: relative;
    }
    .promo-box p {
        position: absolute;
        top: 0;
        right: 10px;
    }
    .promo-text {
        margin: 20px 0 0;
    }
    .categories-list {
        width: 330px;
        flex-wrap: wrap;
    }
    .categories-list_item {
        width: 30%;
        margin: 5px 2px;
    }
    .restaurant-list {
        width: 330px;
        flex-wrap: wrap;
    }
    .restaurant-box {
        width: 100%;
    }
    .restaurant-box:nth-child(4),
    .restaurant-box:nth-child(5),
    .restaurant-box:nth-child(6){
        display: none;
    }
}