body {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
    /* grid-row: 1fr 75% 1fr; */

}

header,
main,
aside,
footer {
    padding: 20px 165px;
}
header {
    grid-column: 1;
    grid-row: 1 / 2;
}


main {
    grid-column: 1;
    grid-row: 2 / 4;
    margin: 20px auto;
}
h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}
.login-form {
    display: grid;
    margin: 25px auto;
}
input {
    border: 1px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px 0;
    outline: none;
}
input:focus {
    border: 1px solid #4E60FF;
}
.password {
    position: relative;
}
input[type="password"] {
    width: 100%;
}
.checkbox-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
input[type="checkbox"] {
    border: 2px solid #C7C8D2;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 5px;
}
.fa-eye {
    color: #C7C8D2;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 90%;
    top: 45px;
    cursor: pointer;
    transition: color 0.3s linear;
}
.fa-eye:hover,
.fa-eye:active {
    color: #4E60FF;
}
button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    margin: 10px 0;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: all 0.3s linear;
}
.login {
    background: #4E60FF;
    color: #fff;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
}
.login:hover {
    color: #4E60FF;
    background-color: transparent;
    border: 1px solid #4E60FF;
    box-shadow: none;
}
.forgot {
    color: #4E60FF;
    background-color: transparent;
}
.forgot:hover {
    border: 1px solid #4E60FF;
}


aside {
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: #697BFF;
    /* position: relative; */
}
.ad-images {
    position: relative;
}

img[alt*="review"] {
    position: absolute;
    width: 313px;
    height: 437px;
    left: calc(50% - 313px/2 - 148.5px);
    /* top: 0; */
}
img[alt*="roll"] {
    position: absolute;
    height: 300px;
    width: 350px;
    left: calc(50% - 294px/2 + 50px);
    top: 80px;
}
img[alt*="nigiri"] {
    position: absolute;
    width: 618px;
    left: calc(50% - 618px/2 - 26px);
    top: 270px;
}
.ad-text {
    text-align: center;
    position: absolute;
    width: 480px;
    /* height: 42px; */
    top: 500px;
}
.ad-text h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #fff;
    margin: 10px auto;
}
.ad-text p {
    color: #fff;
    margin: 10px auto;
}
.slider-control {
    position: absolute;
    /* width: 56px; */
    height: 8px;
    left: 1130px;
    top: 635px;
}
.fa-circle {
    height: 5px;
    width: 5px;
    color: rgba(255, 255, 255, 0.3);
    margin: auto 5px;
    transition: color 0.3s linear;
}
.fa-circle:nth-child(2) {
    color: #fff;
}
.fa-circle:hover,
.fa-circle:active {
    color: #fff;
}

footer {
    grid-column: 1 / 2;
    grid-row: 4;
    text-align: center;
}
.sign-up {
    color: #4E60FF;
    font-weight: 700;
    letter-spacing: 0.3px;
}

@media (max-width: 360px) {
    header,
    main,
    footer {
        width: 100%;
        padding: 20px ;
    }
    body {
        grid-template-columns: 1fr;
    }
    aside {
        display: none;
    }
    
} 