@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

html {
    height: 100%;
}
html,
body,
* {
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    color: #2B2B43;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 20px;
}

/* body {
    padding: 20px 165px;
} */

.logo {
    color: #2B2B43;
    font-weight: 800;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo span {
    color: #4E60FF;
}

button,
i[class*=fa] {
    cursor: pointer;
}